.Appoint{
    background-color: #f7fcfc;
    width: 100%;
}
.APPOINTMENT {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
    padding-bottom: 20px;
    gap: 1rem;
    h1 {
      font-size: 30px;
      font-weight: 700;
      padding: 10px 0;
      color: var(--fontColor);
    }
    .line {
      position: absolute;
      width: 46px;
      height: 3px;
      background-color: var(--blueColor);
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
    p {
      text-align: center;
      width: 80%;
      font-weight: 500;
    }
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
form{
  border: 3px solid rgb(0, 0, 0);
  padding: 30px 30px;
  width: 100%;
}
.input-group{
  width: calc((100% - 3rem) / 2) !important;
.input-Appoint{
  width: calc((100% - 1rem) / 1) !important;
}
}
.specialty{
  padding: 5px 10px;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-ll{
  background-color: var(--blueColor);
  border-radius: 7px;
  color: white;
  padding: 10px 21px;
  height: 35px;
  width: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Appoint-data{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  td , th {
    padding: 10px;
  }
}
